.menu-item{
    display: inline-block;
}
.arrow-down{
    border: solid;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: .3s;
    margin-left: 5px;
    margin-bottom: 2px;
}
.menu-card{
    background-color: white;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.08) 0 0 6px;
    width: 150px;
    position: absolute;
    margin-top: 10px;
    margin-left: -10px;
}
.menu-card h6{
    padding: 10px 20px;
}

