

@media (min-width: 1281px){
 
  .screen-padding{
    width: 1020px;
    margin-left: 320px;
  }
  

  #gudder{
    font-size: 18px;
    color: gray;
    background-color: white;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid rgb(238, 229, 229);
  }

  #gudder p{
    padding: 0px 20px;
    font-size: 16px;
    margin-top: 50px;
    display: inline-block;
  }

  #p{
    margin-left: 300px;
  }

 

  .previous-header{
    width: 1020px;
    margin-left: 320px;

  }

  #profCallHeader{
    font-size: 18px;
  }

  .callID{
    margin-top: 60px;
  }

  .callID-history{
    margin-top: 55px;
  }

  .title-bar{
    margin-top: 20px;
  }
    .graphHeader{
        margin-left: 70px;
        margin-top: -40px;
    }

    .graphHeader span{
        padding: 0px 10px;
        font-size: 12px;
    }

    .graphHeader h6{
    display:none
  }

    #dotting{
        color:#FF6B00;
        font-size: 60px;
    }


    .graph {
        position: absolute;
        right: 0px;
        left: 850px;
        margin-top: 40px;
      width: 891px;
      height: 660.92px;
        background-repeat: no-repeat;
        background-image: url(../../assets/img/graph.PNG);
      }


      .icon-home {
        position: absolute;
        right: 0px;
      left: 80px;
       width: 50px;
        height: 32px;
        background-repeat: no-repeat;
        background-image: url(../../assets/img/iconhome.PNG);
      }

      .icon-call {
        position: absolute;
        right: 0px;
      left: 80px;
       width: 50px;
        height: 32px;
        background-repeat: no-repeat;
        background-image: url(../../assets/img/iconCall.PNG);
      }

      .icon-personnel {
        position: absolute;
        right: 0px;
      left: 80px;
       width: 50px;
        height: 32px;
        background-repeat: no-repeat;
        background-image: url(../../assets/img/iconPersonnel.PNG);
      }

      .icon-analytics {
        position: absolute;
        right: 0px;
      left: 80px;
       width: 50px;
        height: 32px;
        background-repeat: no-repeat;
        background-image: url(../../assets/img/iconAnalytics.PNG);
      }

      .sidebar-text{
        color: #384364;
        margin-top: 20px;
        margin-left: 105px;
        font-size: 16px;
    }

  #sidebar-header{
    font-size: 20px;
  }
    .sidebar-title{
        color: #336799;
        text-align: center;
        margin-top: 85px;
        opacity: 1;
        font-size: 20px;
    }

    .agent-license{
        font-size: 14px;
        color: #777777;
        opacity: 1;
    }

    .Link{
        text-decoration: none;
        color: #336799;
        font-size: 14px;
    }

    .home-button {
        background: white;
        color: var(--text-white);
        padding: 10px 25px;
        transition: all 0.08s ease-in;
        margin-top: 13px;
        border-radius: 50px;
      }

      .home-button:hover {
        background-color:#FF6B00;
      }

      .bold{
          font-size: 11px;
          color: black;
      }

      .bold:hover{
        font-size: 11px;
        transition: all 0.05s ease-in;
        color: white;
    }

    .text-blue{
        color: #336799;
        font-size: 12px;
    }

    .text-blue:hover{
        color:#FF6B00;
        font-size: 12px;
    }

    .text-light{
        color: #777777;

    }

    #textHover{
        font-size: 16px;
    }

    #textHover:hover{
        color:#FF6B00;
    }


    ul li{
        padding: 4px 0px;
        
    }

    

    .text-main{
        font-size: 16px;
    }

      .horizontal-hr{
          margin-top: 100px;
      }

      .label-active{
        color:green;
        padding: 5px 10px;
        background-color: lightcyan;
        border-radius: 35%;
        text-align: center;

      }

      .label-active{
        padding: 5px 10px;
        color:black;
        text-align: center;
        background-color: rgb(211, 192, 83);
        border-radius: 35%;
      }

      .label-voicenote{
        padding: 5px 10px;
        color:green;
        text-align: center;
        background-color: rgb(147, 202, 161);
        border-radius: 35%;
      }

      .label-missed{
        padding: 5px 10px;
        color:black;
        text-align: center;
        background-color: rgb(230, 173, 173);
        border-radius: 35%;
      }

      .label-dropped{
        padding: 5px 10px;
        color:purple;
        text-align: center;
        background-color: rgb(217, 224, 224);
        border-radius: 35%;
      }


      .label-inactive{
        color:black;
        padding: 5px 10px;
        background-color: rgb(217, 224, 224);
        border-radius: 35%;
        text-align: center;

      }

      .tableIcon {
        position: absolute;
        right: 0px;
      left: 380px;
      margin-top: -4px;
       width: 50px;
        height: 32px;
        background-repeat: no-repeat;
        background-image: url(../../assets/img/tableIcon.PNG);
      }


      /*Add Personnel style Begin*/
          .addPersonnelContainer{
            width: 500px;
            float: right;
          }

          .addPersonnelSpan{
            font-size: 14px;
            color: gray;
          }

          #addPersonnelForm{
            margin-left: -33px;
          }

          .addPersonnelButton{
            color: white;
          }

       /*Add Personnel style End*/
    
  }


  @media (min-width: 300px) and (max-width: 399px){

    #smallScreen{
      display: none;
    }

    .overview__action-button{
      height: 300px;
    }

    .graphHeader{
      margin-top: -87px;
      position: absolute;
      font-size: 12px;
      width: 100%;
      margin-left: -40px;
    }

    #rowTwo{
      width: 708px;
    }
    #licence-info{
      width: 315px;
      height: 260px;
    }

    #average-time{
      height: 260px;
      margin-left: -380px;
      margin-top: 300px;
      width: 315px;

    }

  

  .Hline{
    margin-top: 7px;
    margin-left: -56px;
  }

  #rowOne{
    margin-top: 40px;
  }

    .graph {
      position: absolute;
      right: 0px;
      left: 40px;
      margin-top: 115px;
    width: 291px;
    height: 660.92px;
      background-repeat: no-repeat;
      background-image: url(../../assets/img/graph.PNG);
    }

    .overview__action-view{
      width: 100%;
      margin-left: -9px;
    }

    .support{
      width: 2000px;
      margin-left: 23px;
      position: absolute;
    }

    .support-message{
      margin-top: -50px;

    }

    .formDiv{
      margin-top: 110px;
      position: absolute;

    }

    .light{
      text-align: center;
    }

    .support h1{
      text-align: center;
    }

    .message-board{
      margin-top: -20px;
      position: absolute;
      margin-left: 310px;
    }

    #kk{
      margin-top: 670px;
      position: absolute;

  }
    .benefits-image {
      position: absolute;
      background-image: url(../../assets/img/createacntIcon.png);
      height: 380px;
      width: 360.68px;
      margin-top: -210px;
      right: 750px;
      background-repeat: no-repeat;
    }
    
    #line{
      margin-top: 30px;
    }
    
    
  }

  /*Tab view*/
@media (min-width: 481px) and (max-width: 767px){
  .support{
    width: 3100px;
    margin-left: 23px;
    position: absolute;
  }

  .support-message{
    margin-top: -50px;

  }

  .formDiv{
    margin-top: 110px;
    position: absolute;
    width: 500px;
    margin-left: 40px;


  }

  .light{
    text-align: center;
  }

  .support h1{
    text-align: center;
  }

  #hText{
    font-size: 18px;
    margin-left: 35px;
  }

  .message-board{
    margin-top: 50px;
    position: absolute;
    margin-left: 310px;
  }

  .benefits-card{
    width: 500px;
    margin-left: -280px;

  }

  #kk{
    margin-top: 670px;
    position: absolute;
    margin-left: 240px;

}
  .benefits-image {
    position: absolute;
    background-image: url(../../assets/img/createacntIcon.png);
    height: 380px;
    width: 400.68px;
    margin-top: -225px;
    right: 970px;
    background-repeat: no-repeat;
  }
  
  #line{
    margin-top: 30px;
  }
  
}

/*Ipad Pro and Tab view*/
@media (min-width: 768px) and (max-width: 1024px){

  .benefits-image {
    position: absolute;
    background-image: url(../../assets/img/createacntIcon.png);
    height: 380px;
    width: 400.68px;
    margin-top: -225px;
    background-repeat: no-repeat;
  }
  
  #line{
    margin-top: 30px;
  }
}
  