.sidenav-body {
  padding: 104px 32.5px 0;
  overflow-y: hidden;
  width: 100%;
}


.sidenav-body::-webkit-scrollbar {
  display: none;
}

.sidenav-body::-moz-scrollbar {
  display: none;
}

.sidenav-body hr {
  border: 1px solid #dddddd;
  height: 0px;
  margin: 80px 0 38.5px;
}

.details {
  display: flex;
  align-items: center;
  flex-direction: column;
}



.account-button {
  transition: 0.3s all ease-in-out;
  color: var(--main-color);
  background: var(--text-white);
  border: 1px solid #dddddd;
}

.sidenav-list {
  margin-top: 41px;
}

.sidenav-list-item {
  position: relative;
  padding: 9px 0px;
  width: 100%;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: #384364;
  letter-spacing: 0;
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 48px;
  transition: all 0.3s ease-in-out;
}

.sidenav-list-item:hover {
  color: var(--hover-color);
}

.sidenav-list-link a {
  text-decoration: none;
}

.sidenav-list-icon {
  font-size: 18px;
  line-height: 18px;
  margin-right: 31px;
  margin-left: 19px;
}

.sidenav-list-item h5 {
  margin-right: 50px;
}

.sidenav .sidenav-list li.active > a:not([data-toggle="collapse"]):before {
  content: "";
  position: absolute;
  background: #eee;
  border-radius: 28px;
  padding: 24px 126px;
  z-index: -1;
}

.business-logo {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background: #336799;
  margin-top: -100px;
}

.logo-text {
  font: Bold 25px/60px Barlow;
  color: #fff;
  text-align: center;
  font-family: sans-serif;
}

.logout {
  margin-bottom: 54px;
  text-align: center;
  cursor: pointer;
}


@media (min-width: 1281px){
  .sidenav-body {
    padding: 104px 32.5px 0;
    margin-top: 110px;
    overflow-y: hidden;
    width: 100%;
  }

  .sidebar-body {
    padding: 104px 32.5px 0;
    overflow-y: hidden;
    width: 100%;
  }
  

  .business-logo {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: #336799;
    margin-top: -100px;
  }
  
  .logo-text {
    font: Bold 25px/60px Barlow;
    color: #fff;
    text-align: center;
    font-family: sans-serif;
  }
  
  .sidenav-body::-webkit-scrollbar {
    display: none;
  }
  
  .sidenav-body hr {
    border: 1px solid #dddddd;
    height: 0px;
    margin: 80px 0 38.5px;
  }
  
  .details {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  



  
  .account-button {
    transition: 0.3s all ease-in-out;
    color: var(--main-color);
    background: var(--text-white);
    border: 1px solid #dddddd;
  }
  
  .sidenav-list {
    margin-top: 41px;
  }
  
  .sidenav-list-item {
    position: relative;
    padding: 9px 0px;
    width: 100%;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #384364;
    letter-spacing: 0;
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 48px;
    transition: all 0.3s ease-in-out;
  }
  
  .sidenav-list-item:hover {
    color: var(--hover-color);
  }
  
  .sidenav-list-link a {
    text-decoration: none;
  }
  
  .sidenav-list-icon {
    font-size: 18px;
    line-height: 18px;
    margin-right: 31px;
    margin-left: 19px;
  }
  
  .sidenav-list-item h5 {
    margin-right: 50px;
  }
  
  .sidenav .sidenav-list li.active > a:not([data-toggle="collapse"]):before {
    content: "";
    position: absolute;
    background: #eee;
    border-radius: 28px;
    padding: 24px 126px;
    z-index: -1;
  }
  
  .logout {
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
  }

  #sidebarHr{
    margin-top: 40px;
  }


  /*SETTING STYLE BEGINING*/
  .settingbusiness-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #336799;
    margin-top: -100px;
  }
  
  .settinglogo-text {
    font: Bold 20px/50px Barlow;
    color: #fff;
    text-align: center;
    font-family: sans-serif;
  }

  #seetingsidebar{
    width: 65px;
    background-color: #2C405A;
  }

  .setting-icon {
    position: absolute;
    right: -3px;
   width: 50px;
   margin-top: -10px;
    height: 45px;
    background-repeat: no-repeat;
    background-image: url(../../assets/img/setting-icon.PNG);
  }

  .settingicon-home {
    position: absolute;
    right: -3px;
    width: 50px;
     height: 45px;
     background-repeat: no-repeat;
    background-image: url(../../assets/img/settinghome-icon.PNG);
  }

  .settingicon-call {
    position: absolute;
    right: -3px;
    margin-top: 40px;

    width: 50px;
     height: 45px;
     background-repeat: no-repeat;
    background-image: url(../../assets/img/settingcall-icon.PNG);
  }

  #settingContainer h4{
      font-size: 18px;
      color: #333333;
  }
  .settingicon-personnel {
    position: absolute;
    right: -3px;
    width: 50px;
    margin-top: 75px;

     height: 45px;
     background-repeat: no-repeat;
    background-image: url(../../assets/img/settingpersonnel-icon.PNG);
  }

  .settingicon-analytics {
    position: absolute;
    right: -3px;
    margin-top: 110px;

    width: 50px;
     height: 45px;
     background-repeat: no-repeat;
    background-image: url(../../assets/img/settinganalytics-icon.PNG);
  }

  .settingicon-power {
    position: absolute;
    right: -3px;
    margin-top: -30px;
    width: 50px;
     height: 45px;
     background-repeat: no-repeat;
    background-image: url(../../assets/img/settingpower-icon.PNG);
  }

  #sidebussLogo{
    width:230px;
     height:260px;
     border:1px solid #DDDDDD;
     border-radius: 8px;
     margin-right: 90px !important;
     margin-top: 65px;
  }

  .upload-button:hover{
    background-color: white !important;
  }



/*SETTING STYLE END*/

}
