.logo {
  width: 156px;
  height: 59px;
}

.notification {
  position: relative;
}

.bell {
  width: 20px;
  height: 20px;
}

.notification .message {
  position: absolute;
  padding: 5px 8px;
  background-color: #ff6501;
  color: #fff;
  border-radius: 50%;
  font-size: 9px;
  font-family: Barlow;
  top: -10px;
  right: -10px;
}


@media (min-width: 1281px){
  .logo {
    width: 156px;
    height: 59px;
  }

  .notification .message {
    position: absolute;
    padding: 5px 8px;
    background-color: #ff6501;
    color: #fff;
    border-radius: 50%;
    font-size: 9px;
    font-family: Barlow;
    top: -10px;
    right: -10px;
  }

  .notification {
  position: absolute;
  
}

  .bell {
    width: 20px;
    height: 20px;
    margin-left: 240px;
  }

  .businessnav-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #336799;
    margin-top: 10px;
  }

  .logonav-text {
    font: Bold 12px/40px Barlow;
    color: #fff;
    text-align: center;
  }

  .home-header-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #336799;
    margin-left:1220px;
      position:absolute;
  }

  #home-header-arrow{
    margin-left:50px;
     margin-top:-21px;
      position:absolute;
  }
}