.logo {
  width: 156px;
  height: 59px;
}

.notification {
  position: relative;
}

.bell {
  width: 20px;
  height: 20px;
}

.notification .message {
  position: absolute;
  padding: 5px 8px;
  background-color: #ff6501;
  color: #fff;
  border-radius: 50%;
  font-size: 9px;
  font-family: Barlow;
  top: -10px;
  right: -10px;
}


@media (min-width: 1281px){
  #header{
    width: 1200px;
    height: 5px;
  }

  .notification {
  position: absolute;
  margin-top: -35px;
}

  .bell {
    width: 20px;
    height: 20px;
    margin-left: 1150px;
  }
}