body {
  margin: 0;
}

hr {
  height: 1px;
  width: 100%;
  border: 0;
  background: #0a2e650d;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 50px;
  /* grid-template-rows: 0px 1fr 50px; */
  grid-template-areas:
    "header"
    "main";
  height: 100vh;
}

.main-header {
  grid-area: header;
  background-color: #fff;
}

.main {
  grid-area: main;
  background-color: #f9f9f9;
  padding: 50px 40px 0;
  height: 100%;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  height: 79px;
  width: 100%;
  z-index: 101;
  position: fixed;
  padding: 0 16px;
  /* padding: 20px 5px; */
  background-color: #fff;
}

.sidenav-list {
  padding: 10px;
  list-style-type: none;
}

.sidenav-list > :first-child {
  display: none;
}

@media only screen and (min-width: 46.875em) {
  .grid-container {
    grid-template-columns: 339px 1fr;
    grid-template-areas:
      "sidenav header"
      "sidenav main";
  }

  .sidenav {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 65.625em) {
}

.sidenav {
  grid-area: sidenav;
  background-color: #f9f9f9;
  padding: 20px;
  width: 339px;
  height: 100%;
  border-right: 1px solid #dddddd;
  display: flex;
  flex-direction: column;
  position: fixed;
  overflow-y: auto;
  z-index: 2;
  transform: translateX(-380px);
  transition: all 0.6s ease-in-out;
}

@media only screen and (min-width: 46.875em) {
  .sidenav {
    /* position: relative; Fixed position on mobile */
    position: fixed;
    transform: translateX(0);
  }
}

@media only screen and (max-width: 767px) {
  .main {
    padding: 50px 10px 0;
    height: 100%;
  }
}
