.menu-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search{
    height: 32px;
    width: 196px;
}
.search-form{
     position: relative;
    display: inline-block;
}
.search-icon{
    position: absolute;
    z-index: 2;
    top: 12px;
    left: 10px;
    stroke: var(--text-color);
}
.menu-bar-right{
    display: flex;
}
