*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
:root{
    --main-color: #333333;
    --hover-color: #FF6501;
    --text-color: #336799;
}
@font-face {
    font-family: 'SF Pro Display Regular';
    src: url('assets/fonts/SFProDisplay-Regular.ttf') format('truetype');
}
body{
    font-family: "SF Pro Display Regular", serif;
    color: var(--main-color);
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2.4rem;
}
h3{
    font-size: 2rem;
}
h4{
    font-size: 1.8rem;
}
h5{
    font-size: 1.6rem;
}
h6{
    font-size: 1.4rem;
}
p{
    font-size: 1.2rem;
}









/*CUSTOM CSS*/
.container{
    display: flex;
}
.sidebar{
    flex: 1;
}
.content{
    flex: 4;
    margin: 5rem 3rem;
}
.titlebar{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 3rem;
}
.title{
    display: flex;
    align-items: center;
}
/*CUSTOM CSS*/
