/* Create account screen */

.signup {
    margin-top: 159px;
    margin-left: 94px;
    display: flex;
    justify-content: space-between;
  }
  
  .signup-form {
    width: 32%;
  }
  
  .signup-form hr {
    margin-top: 32px;
    margin-bottom: 50px;
    border: 1px solid #e5e5e5;
  }
  
  .signup-benefits {
    width: 50%;
  }
  
  /* .benefits-image {
    margin-left: 219px;
    top: 400px;
    position: absolute;
  } */
  
  .benefits-image {
    position: absolute;
    background-image: url(../../assets/img/createacntIcon.png);
    height: 383px;
    width: 465.68px;
    margin-top: -200px;
    right: 0px;
    background-repeat: no-repeat;
  }
  
  .benefits-image img {
    width: 465.68px;
    height: 383.5px;
  }
  
  .benefits-card {
    margin-right: 95px;
    background: #f5f6fa;
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 33px 24px;
  }
  
  .benefits-card hr {
    margin: 32px 0;
  }
  
  .benefits-body {
    margin-bottom: 32.6px;
  }
  
  .auth-password {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40.5px;
  }
  
  .signup-button {
    background: var(--text-color);
    color: var(--text-white);
    padding: 14px 150px;
    transition: all 0.3s ease-in;
  }
  
  .signup-button:hover {
    background-color: #384364;
  }
  
  .onboard {
    display: flex;
    justify-content: space-between;
    margin: 132px 195px 0px 95px;
  }
  
  .onboard-welcome {
    width: 22%;
  }
  
  .onboard-info {
    width: 70%;
  }
  
  .onboard-title {
    display: flex;
    justify-content: space-between;
  }
  
  .onboard-info hr {
    margin-top: 24px;
    margin-bottom: 32.5px;
  }
  
  .onboard-form {
    width: 50%;
  }
  
  .onboard-input {
    border: 1px solid #dddddd;
    font-size: 14px;
    font-weight: 400;
    color: #777;
    padding: 12px 0px 12px 16px;
  }
  
  .onboard-select {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 4px;
    border: 1px solid #ddd;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    background: #fff;
  }
  
  .onboard-textarea {
    border: 1px solid #dddddd;
    font-size: 14px;
    font-weight: 400;
    color: #777;
    padding: 12px 0px 12px 16px;
    height: 139px;
    width: 100%;
    border-radius: 4px;
  }
  
  .p-bar-1 {
    border-radius: 16px 1px 1px 16px;
    width: 24px;
    height: 10px;
    background: var(--hover-color);
    margin-right: 2px;
  }
  
  .p-bar-2 {
    border-radius: 1px;
    background: #ddd;
    width: 24px;
    height: 10px;
    margin-right: 2px;
  }
  
  .p-bar-3 {
    border-radius: 1px 16px 16px 1px;
    background: #ddd;
    width: 24px;
    height: 10px;
  }
  
  .b-bar-1 {
    border-radius: 16px 1px 1px 16px;
    width: 24px;
    height: 10px;
    background: var(--hover-color);
    margin-right: 2px;
  }
  
  .b-bar-2 {
    border-radius: 1px;
    background: var(--hover-color);
    width: 24px;
    height: 10px;
    margin-right: 2px;
  }
  
  .b-bar-3 {
    border-radius: 1px 16px 16px 1px;
    background: #ddd;
    width: 24px;
    height: 10px;
  }
  
  .plan-bar-1 {
    border-radius: 16px 1px 1px 16px;
    width: 24px;
    height: 10px;
    background: var(--hover-color);
    margin-right: 2px;
  }
  
  .plan-bar-2 {
    border-radius: 1px;
    background: var(--hover-color);
    width: 24px;
    height: 10px;
    margin-right: 2px;
  }
  
  .plan-bar-3 {
    border-radius: 1px 16px 16px 1px;
    background: var(--hover-color);
    width: 24px;
    height: 10px;
  }
  
  .business-info button {
    margin-top: 32px;
  }
  
  .business-info-1 {
    display: flex;
    justify-content: space-between;
  }
  
  .business-info-2 {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
  }
  
  .business-rc {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  .business-rc span {
    font-weight: 400;
    font-style: italic;
    color: #333;
    font-size: 14px;
  }
  
  .plan {
    background: #f5f6fa;
    border-radius: 8px;
    padding: 24px;
    margin-right: 80px;
  }
  
  .plan h3 {
    color: #2e384d;
  }
  
  .plan-row {
    display: flex;
    justify-content: space-between;
  }
  
  .plan-card {
    background: var(--text-white);
    box-shadow: 0px 0px 6px #00000014;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding-bottom: 24px;
  }
  
  .plan-card .radio {
    padding: 16px 0px 10px 16px;
  }
  
  .plan-details {
    margin-left: 31px;
    margin-right: 31px;
  }
  
  .plan-details h5 > span {
    font-size: 12px;
  }
  
  .plan-details hr {
    margin-top: 26px;
    margin-bottom: 16px;
    border: 1px solid #e9e9f0;
  }
  
  .plan-amount {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
  }
  
  .plan-amount-text {
    display: flex;
    justify-content: flex-end;
  }
  
  .amount-box {
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 12px 10px;
    width: 166px;
  }
  
  .amount-box h5 {
    color: var(--main-color);
    font-weight: bold;
  }
  
  .plan-did {
    margin-top: 32px;
    margin-bottom: 40px;
  }
  
  .did-label-left {
    font-size: 16px;
    font-weight: bold;
    color: var(--main-color);
  }
  
  .did-label-right {
    font-size: 14px;
    font-weight: bold;
    color: #336799;
  }
  
  .plan-payment h3 {
    color: #2e384d;
    margin-bottom: 17px;
  }
  
  .payment-label {
    font-size: 1.6rem;
    color: #333;
    font-size: bold;
  }
  
  /* Create account screen */
  
  /* Signin Screen */
  
  .signin {
    margin-top: 105px;
    display: flex;
    justify-content: space-between;
  }
  
  .signin-form {
    margin-top: 53.5px;
    margin-left: 95px;
    width: 27%;
  }
  
  .form h1 {
    font-size: 4rem;
    color: #2e384d;
  }
  
  .signin-form h3 {
    margin-bottom: 76.5px;
  }
  
  .signin-icon {
    position: absolute;
    right: 0px;
    width: 891px;
    height: 660.92px;
    background-repeat: no-repeat;
    background-image: url(../../assets/img/ladyCall.png);
  }
  
  
  
  @media (min-width: 1281px){
    
    .signin-icon {
      position: absolute;
      right: 0px;
      margin-top: -120px;
      width: 65%;
     /* width: 891px;*/
      height: 660.92px;
      background-repeat: no-repeat;
      background-image: url(../../assets/img/ladyCall.png);
    }
  
    .TermofUse{
      position: absolute;
      right: 0px;
      width: 100%;
     /* width: 891px;*/
      height: 660.92px;
      background-repeat: no-repeat;
      background-image: url(../../assets/img/contactimage.PNG);
  
    }
  
    #login{
      font-size: 15px;
      text-transform: capitalize;
      color: white;
    }
  
    #resetPassword{
      font-size: 15px;
      text-transform: capitalize;
      text-align: center;
      color: white;
    }
  
    #createAccount{
      font-size: 15px;
      text-transform: capitalize;
      color: white;
    }

   
  
  .field{
   margin-top: -20px;
  }
    .signin-form {
      margin-top: 13.5px;
      margin-left: 95px;
      width: 30%;
    }
    #BackToSite{
      margin-top: 45px;
    }
  
    .signup {
      margin-top: 98px;
      margin-left: 94px;
      display: flex;
      justify-content: space-between;
    }
  
    .signup-button {
      background: var(--text-color);
      color: var(--text-white);
      padding: 14px 110px;
      transition: all 0.3s ease-in;
      margin-top: -10px;
    }
  
    .go-top{
      margin-top: -13px;
    }
  
    #CreateText{
      margin-top: -12px;
    }
  
    .signup hr{
      margin-top: 16px;
    }
  
    #BackToSiteCreate{
      margin-top: -17px;
    }
  
    .benefits-image {
      position: absolute;
      background-image: url(../../assets/img/createacntIcon.png);
      height: 380px;
      width: 405.68px;
      margin-top: -245px;
      right: 0px;
      background-repeat: no-repeat;
    }
  
    .markSign {
      background-color:#FF6B00;
      color:white;
     font-size: 0.8rem;
      padding:2px 5px;
      border-radius:50%;
      font-family: bold;
      margin-top: 2px;
      position: absolute;
    }
  
    #side-text{
      margin-left: 30px;
    }
  
    .signup-benefits {
      width: 50%;
    }
    .Link{
      color: #336799;
     text-decoration: none;
    }
    
  #contactHeader{
    font-size: 18px;
  }
  
  #contactHeader:hover{
    color: #FF6B00;
  }
  
  .message-board{
    margin-top: -7px;
  }
  
  #headerText{
    font-size: 16px;
  }
  
  #headerText:hover{
    color: #FF6B00;
  }
    
  }
  /*Medium View*/
  @media (min-width: 1025px) and (max-width: 1280px){
  
  .signin-form {
    margin-top: 1px;
    margin-left: 95px;
    width: 35%;
  }
  
  .field{
    margin-top: -30px;
  }
  
  #BackToSite{
    margin-top: 40px;
  }
  
  #SignInBreakLine{
    margin-top: 40px;
  }
  
  .signup {
    margin-top: 85px;
    margin-left: 94px;
    display: flex;
    justify-content: space-between;
  }
  
  .signup-button {
    background: var(--text-color);
    color: var(--text-white);
    padding: 14px 90px;
    transition: all 0.3s ease-in;
    margin-top: -10px;
  }
  
  #CreateText{
    margin-top: -25px;
  }
  
  .signup hr{
    margin-top: 13px;
  }
  
  #BackToSiteCreate{
    margin-top: -26px;
  }
  
  .go-top{
    margin-top: -18px;
  }
  
  .signup-benefits {
    width: 55%;
  }
  
  .markSign {
    background-color:#FF6B00;
    color:white;
   font-size: 0.8rem;
    padding:2px 5px;
    border-radius:50%;
    font-family: bold;
    margin-top: 2px;
    position: absolute;
  }
  
  
  #side-text{
    margin-left: 30px;
  }
  
  .benefits-image {
    position: absolute;
    background-image: url(../../assets/img/createacntIcon.png);
    height: 380px;
    width: 405.68px;
    margin-top: -240px;
    right: 0px;
    background-repeat: no-repeat;
  }
  
  .Link{
    color: #336799;
   text-decoration: none;
  }
  
  .signup h1{
    font-size: 35px;
  /*  color: green; */
    margin-top: 5px;
  }
  
  
  
    .signin-icon {
      position: absolute;
      right: 0px;
      margin-top: -125px;
      width: 62%;
      /* width: 831px;*/
      height: 660.92px;
      background-repeat: no-repeat;
      background-image: url(../../assets/img/ladyCall.png);
    }
  
    #login{
      font-size: 15px;
      text-transform: capitalize;
      color: white;
    }
  
    
    #createAccount{
      font-size: 15px;
      text-transform: capitalize;
      color: white;
    }
  } 
  
  /*Ipad Pro and Tab view*/
  @media (min-width: 768px) and (max-width: 1024px){
    .field{
      margin-top: -40px;
     }
       .signin-form {
         margin-top: 13.5px;
         margin-left: 95px;
         width: 35%;
       }
       #BackToSite{
         margin-top: 35px;
       }
  
       .signin-icon {
        position: absolute;
        right: 0px;
        margin-top: -125px;
        
        width: 531px;
        height: 660.92px;
        background-repeat: no-repeat;
        background-image: url(../../assets/img/ladyCall.png);
      }
     
       .login-button {
         background: var(--text-color);
         color: var(--text-white);
         padding: 4px 0 2px 44px;
         transition: all 0.3s ease-in;
       }
  
       
  .markSign {
    background-color:#FF6B00;
    color:white;
   font-size: 0.8rem;
    padding:2px 5px;
    border-radius:50%;
    font-family: bold;
    margin-top: 2px;
    position: absolute;
  }
  
  
  #side-text{
    margin-left: 30px;
  }
    .signup h1{
      font-size: 30px;
    /*  color: red; */
      margin-top: -55px;
    }
  .go-top{
    margin-top: -15px;
  }
  
  .signup h6{
    margin-top: -15px;
  }
  
  .signup-button {
    background: var(--text-color);
    color: var(--text-white);
    padding: 10px 80px;
    transition: all 0.3s ease-in;
    margin-top: -10px;
  }
  
  #BackToSiteCreate{
    margin-top: -26px;
  }
  
  .signup hr{
    margin-top: 25px;
  }
  
  .signup-benefits {
    width: 53%;
  }
  
  .benefits-card{
    margin-top: -55px;
  }
  
  .Link{
    color: #336799;
   text-decoration: none;
   font-size: 14px;
  }
  
  .benefits-image {
    position: absolute;
    background-image: url(../../assets/img/createacntIcon.png);
    height: 310px;
    width: 360.68px;
    margin-top: -215px;
    right: 0px;
    background-repeat: no-repeat;
  }
  
  #subtext{
    margin-top: -5px;
  }
  
  #login{
    font-size: 15px;
    text-transform: capitalize;
    color: white;
  }
  
  
  #createAccount{
    font-size: 15px;
    text-transform: capitalize;
    color: white;
  }
  
  }
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
    
  
  }
  /*Tab view*/
  @media (min-width: 481px) and (max-width: 767px){
   
    .signup h1{
      font-size: 30px;
    /*  color: yellow; */
      margin-top: -55px;
    }
  
    
  
    .signup-form {
      width: 100%;
    }
  
    .signin-icon {
     display: none;
    }
  
  .field{
   margin-top: -40px;
  }
    .signin-form {
      margin-top: 13.5px;
      margin-left: 95px;
      width: 60%;
    }
    #BackToSite{
      margin-top: 35px;
    }
  
    .login-button {
      background: var(--text-color);
      color: var(--text-white);
      padding: 4px 0 2px 44px;
      transition: all 0.3s ease-in;
    }
  
    .signup {
      margin-left: 94px;
      display: flex;
      justify-content: space-between;
    }
  
    .signup-button {
      background: var(--text-color);
      color: var(--text-white);
      padding: 9px 120px;
      transition: all 0.3s ease-in;
      margin-top: -10px;
    }
  
    .go-top{
      margin-top: -13px;
    }
  
    #CreateText{
      margin-top: -12px;
    }
  
    .signup hr{
      margin-top: 16px;
    }
  
    #BackToSiteCreate{
      margin-top: -17px;
    }
  
    .benefits-image {
      position: absolute;
      background-image: url(../../assets/img/createacntIcon.png);
      height: 280px;
      width: 405.68px;
      margin-top: -180px;
      right: 0px;
      background-repeat: no-repeat;
    }
  
    .markSign {
      background-color:#FF6B00;
      color:white;
     font-size: 0.8rem;
      padding:2px 5px;
      border-radius:50%;
      font-family: bold;
      margin-top: 2px;
      position: absolute;
    }
  
    #side-text{
      margin-left: 30px;
    }
  
    .signup-benefits {
      width: 100%;
    }
    .Link{
      color: #336799;
     text-decoration: none;
    }
  
    .benefits-card{
      margin-top: 505px;
      margin-left: -310px;
      width: 330px;
    }
  
   #login{
    font-size: 15px;
    text-transform: capitalize;
    color: white;
   }
  
   
   #createAccount{
    font-size: 15px;
    text-transform: capitalize;
    color: white;
  }
  
  }
  
  /*SMALL SCREEN*/
  
  @media (min-width: 300px) and (max-width: 399px){
  
    .signup h1{
      font-size: 30px;
     /* color: purple; */
      margin-top: -55px;
    }
  
    .signin h1{
      font-size: 30px;
     /* color: purple; */
      text-align: center;
    }
  
    .signin h3{
  text-align: center;
    }
   
  
    .signup-form {
      width: 100%;
    }
  
    .signin-icon {
     display: none;
    }
  
  .field{
   margin-top: -40px;
  }
    .signin-form {
      margin-top: 13.5px;
      margin-left: 25px;
      width: 80%;
    }
    #BackToSite{
      margin-top: 35px;
    }
  
    .login-button {
   width: 280px;
    }
  
    #login{
      margin-left: -80px;
      font-size: 15px;
      text-transform: capitalize;
      color: white;
    }
  
    
    #createAccount{
      font-size: 15px;
      text-transform: capitalize;
      color: white;
    }
  
    .signup {
      margin-left: 25px;
      display: flex;
      justify-content: space-between;
    }
  
    .signup-button {
      background: var(--text-color);
      color: var(--text-white);
      padding: 9px 120px;
      transition: all 0.3s ease-in;
      margin-top: -10px;
    }
  
    .go-top{
      margin-top: 83px;
    }
  
    #CreateText{
      margin-top: -12px;
    }
  
    .signup hr{
      margin-top: 40px;
    }
  
    #BackToSiteCreate{
      margin-top: -10px;
    }
  
    .benefits-image {
      position: absolute;
      background-image: url(../../assets/img/createacntIcon.png);
      height: 280px;
      width: 405.68px;
      margin-top: -180px;
      right: 0px;
      background-repeat: no-repeat;
    }
  
    .markSign {
      background-color:#FF6B00;
      color:white;
     font-size: 0.8rem;
      padding:2px 5px;
      border-radius:50%;
      font-family: bold;
      margin-top: 2px;
      position: absolute;
    }
  
    #side-text{
      margin-left: 30px;
    }
  
    .signup-benefits {
      width: 100%;
    }
    .Link{
      color: #336799;
     text-decoration: none;
    }
  
    .benefits-card{
      margin-top: 570px;
      margin-left: -310px;
      width: 330px;
    }
   
  }
  
  
  .login-button {
    background: var(--text-color);
    color: var(--text-white);
    padding: 14px 0 14px 174px;
    transition: all 0.3s ease-in;
  }
  
  .login-button:hover {
    background-color: #384364;
  }
  
  .login-button div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .login-button h5 {
    margin-right: 117px;
    transition: all 0.3s ease-in;
  }
  
  .login-button:hover h5 {
    margin-right: 122px;
  }
  
  .login-button:hover img {
    margin-right: 26px;
  }
  
  .login-button img {
    width: 20px;
    height: 20px;
    margin-right: 31px;
    transition: all 0.3s ease-in;
  }
  
  .signin-hr {
    border: 1px solid #e5e5e5;
    margin-top: 40px;
  }
  
  .bk-2-web {
    margin-top: 86px;
  }
  
  .checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 14px;
    color: var(--text-color);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #336799;
    border-radius: 4px;
    transition: all 0.2s ease-in;
  }
  
  .checkbox input:checked ~ .checkmark {
    background-color: var(--hover-color);
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  .checkbox .checkmark:after {
    left: 6px;
    top: 3px;
    width: 4px;
    height: 7px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  /* End Signin Screen */
  
  /* contact support */
  
  .support {
    margin-top: 159px;
    margin-left: 94px;
    display: flex;
    justify-content: space-between;
  }
  
  .support-message {
    width: 16%;
  }
  
  .support h2 {
    color: #2e384d;
  }
  
  .message-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40.5px;
  }
  
  .message-board {
    width: 40%;
  }
  
  .btw {
    margin-left: 94px;
    margin-top: 98px;
  }
  
  .message-board hr {
    margin-top: 110px;
  }
  
  .message-board i {
    font-size: 16px;
  }
  
  /* End contact support */
  
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0px 1fr 79px;
    grid-template-areas:
      "header"
      "main";
    height: 100vh;
  }
  
  .main-header {
    grid-area: header;
    background-color: #fff;
  }
  
  .main {
    grid-area: main;
    height: 100%;
    background-color: #fff;
  }
  
  .main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    height: 79px;
    width: 100%;
    z-index: 101;
    position: fixed;
    padding: 0 129px 0 28px;
    background-color: #fff;
    box-shadow: 0px 0px 6px #00000014;
  }
  
  .sidenav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    height: 79px;
    width: 100%;
    z-index: 101;
    position: fixed;
    padding: 0 20px 0 28px;
    background-color: #fff;
    box-shadow: 0px 0px 6px #00000014;
  }
  
  .sidenav-list {
    list-style-type: none;
  }
  
  .sidenav-list > :first-child {
    display: none;
  }
  
  @media only screen and (min-width: 46.875em) {
    .grid {
      grid-template-columns: 319px 1fr;
      grid-template-areas:
        "sidenav header"
        "sidenav main";
    }
  
    .sidenav {
      display: flex;
      flex-direction: column;
    }
  }
  
  @media only screen and (min-width: 65.625em) {
  }
  
  .sidenav {
    grid-area: sidenav;
    background-color: #f9f9f9;
    width: 319px;
    height: 100%;
    border-right: 1px solid #dddddd;
    display: flex;
    flex-direction: column;
    position: fixed;
    overflow-y: auto;
    z-index: 2;
    transform: translateX(-380px);
    transition: all 0.6s ease-in-out;
  }
  
  @media only screen and (min-width: 46.875em) {
    .sidenav {
      /* position: relative; Fixed position on mobile */
      position: fixed;
      transform: translateX(0);
    }
  }
  
  @media only screen and (max-width: 767px) {
    .main {
      height: 100%;
    }
  }
  
  /* Home style */
  
  .overview {
    height: 100%;
    background: #ffffff;
    box-shadow: 0 0 6px #00000014;
  }
  
  .overview__action-button button {
    font-size: 14px;
    padding: 8px 16px;
    font-weight: bold;
    letter-spacing: 0;
    color: #336799;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .overview__action-view {
    margin-left: 32px;
  }
  
  .overview-summary h1 {
    font-weight: bold;
    font-size: 47px;
    letter-spacing: 0;
    color: #333333;
  }
  
  .overview-summary p {
    font-size: 12px;
    color: #777777;
    letter-spacing: 0;
  }
  
  .overview-call {
    display: flex;
    align-items: baseline;
    margin-bottom: 15px;
  }
  .overview-number {
    font-size: 40px;
    color: #333333;
    letter-spacing: -0.5px;
    line-height: 48px;
  }
  .overview-number-sub {
    font-weight: 300;
    font-size: 28px;
    color: #777777;
  }
  .overview-percent {
    font-size: 16px;
    line-height: 19px;
    color: #2db744;
    margin: 21.31px 0;
  }
  .min-overview li {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
    color: #333333;
  }
  
  .myProgress {
    height: fit-content;
    border-radius: 50px;
    box-shadow: none;
    background: #eeeeee 0 0 no-repeat padding-box;
    display: flex;
    overflow: hidden;
    font-size: 0.75rem;
  }
  
  .bar {
    background: #ff6501 0% 0% no-repeat padding-box;
    border-radius: 50px;
    height: 8px;
    text-align: right;
    padding-right: 10px;
    box-shadow: none;
    font-size: 9px;
    line-height: 13px;
    transition: width 0.6s ease;
    flex-direction: column;
    justify-content: center;
    white-space: nowrap;
  }
  
  /* End Home style */
  
  /*Calls css*/
  .menu-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .search {
    height: 32px;
    width: 196px;
  }
  .search-form {
    position: relative;
    display: inline-block;
  }
  .search-icon {
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 10px;
    stroke: var(--text-color);
  }
  .menu-bar-right {
    display: flex;
  }
  /*End calls css*/
  
  /* Profile styles */
  .profile_tab {
    display: inline-block;
    flex-direction: row;
    position: absolute;
    top: 0;
    margin-left: -300px;
    width: 30%;
    padding-left: 40px;
    background-color: white; 
    margin-top: 0px;
    
   
   /*  z-index: 101;
    box-shadow: 0px 3px 6px #00000014;
  
   */
  }

  .profile_tab_header{
    margin-left: 25px;
    color:#6b8296;
    font-size: 13px;
    padding-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 1px;
  }
  
  #xz:hover{
    background-color: white !important;
  }
  
  .profile_tablinks {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 30px 0px;
    line-height: 25px;
    display: block;
    
  }
  
  .tabText{
    font-size: 12px;
    float: left;
    color: #545f79;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  
  .profile-input {
    border: 1px solid #dddddd;
    height: 40px;
    width: 100%;
    background: #fff;
  }
  
  .pass-btn {
    color: #336799;
    border: 1px solid #336799;
    box-shadow: 0px 0px 6px #33679914;
    transition: all 0.2s ease-in-out;
    margin-top: 8px;
    margin-left: 8px;
  }
  
  .pass-btn:hover {
    background-color: var(--text-color);
    color: var(--text-white);
  }
  
  .profile-label {
    color: #777;
  }
  
  .upload-button {
    box-shadow: 0px 0px 6px #33679914;
    background-color: var(--text-white);
    color: var(--text-color);
    transition: all 0.2s ease-in-out;
  }
  
  .upload-button:hover {
    background-color: var(--text-color);
    color: var(--text-white);
  }
  /* End Profile styles */
  
  /* Account plan styles */
  .price {
    font-size: 4rem;
  }
  
  .subcription-details p {
    font-size: 1rem;
  }
  
  /* End Account plan styles */
  
  /* Profile Category Overlay */
  /* Profile Category Overlay */
  .existing-category-card {
    border: 1px solid #ddd;
    height: 10.3rem;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
  }
  
  .existing-category-card2{
    border: 1px solid #ddd;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    height: 10.3rem;
  }
  /* End Profile Category Overlay */
  
  
  /* End Profile Category Overlay */
  
  /* Add View Profile Overlay */
  .view-profile-table {
    padding: 10px 20px;
    border-radius: 4px;
  }
  .profile-category-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    height: 13.5rem;
  }
  /* End View Profile Overlay */
  
  /*  Profile Call Overlay */
  
  
  .profile-call-label {
    display: block;
    position: relative;
    padding-left: 35px;
    padding-top: 3px;
    font-size: 14px;
    color: #336799 !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /*
  .profile-call-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  */
  .profile-call-label .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: #fff;
    border: 1px solid var(--text-color);
    border-radius: 50%;
  }
  .profile-call-label input:checked ~ .checkmark {
    background-color: #fff;
  }
  .profile-call-label .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .profile-call-label input:checked ~ .checkmark:after {
    display: block;
  }
  .profile-call-label .checkmark:after {
    top: 2px;
    left: 2px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: var(--text-color);
  }
  /*  End Profile Call Overlay */
  
  /* Add Personnel Overlay */
  .personnel-checkbox h5 {
    display: inline-block;
  }
  .checkbox-label {
    display: block;
    position: relative;
    padding-left: 24px;
  }
  .check-mark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 0.4rem;
    border: 1px solid #336799;
  }
  .personnel-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .check-mark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .checkbox-label input:checked ~ .check-mark:after {
    display: block;
  }
  .checkbox-label .check-mark:after {
    left: 6px;
    top: 3px;
    width: 3px;
    height: 7px;
    border: solid #336799;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  /* Add Personnel Overlay */
  
  /* Previous call style */
  .previous-header {
    height: 80px;
    background: var(--text-white);
    box-shadow: 0px 3px 6px #0000000a;
    padding: 0 32px 24px;
    display: flex;
    justify-content: space-between;
  }

  .previous-header-new {
    height: 50px;
    background: var(--text-white);
    padding: 0 2px 24px;
    display: flex;
    justify-content: space-between;
  }
  
  .goback {
    margin-top: 23px;
  }
  
  .callID {
    margin-top: 35px;
  }
  
  .callID-history {
    display: flex;
    justify-content: space-between;
  }
  
  .callID-history > div {
    padding: 0 0 0 40px;
  }
  
  /* End previous call style */
  
  /* voicenotes style */
  
  .audioPlayer {
    display: block;
    border-radius: 20px;
    margin: 0 auto;
    width: 210px !important;
  }
  
  
  /* End voicenotes style */
  
  /* tables style */
  
  .table-head td {
    padding: 10px 20px;
  }
  tr:first-child td:first-child {
    border-top-left-radius: 8px;
  }
  tr:first-child td:last-child {
    border-top-right-radius: 8px;
  }
  tr:first-child td:first-child {
    border-bottom-left-radius: 8px;
  }
  tr:first-child td:last-child {
    border-bottom-right-radius: 8px;
  }
  
  .table-body td {
    padding: 20px;
    border-bottom: 1px solid #dddddd;
  }
  
  .table-body a {
    text-decoration: none;
    color: var(--text-color);
  }
  
  /* End tables style */
  
  /* Business hours */
  
  .time-slot {
    display: flex;
    justify-content: space-between;
  }
  
  .time-slot-1 {
    display: flex;
    justify-content: space-between;
  }
  
  .time-slot-head {
    display: flex;
    flex-direction: row;
    margin-bottom: 13px;
  }
  
  .slot {
    display: flex;
    flex-direction: column;
  }
  
  .slot-label {
    display: flex;
    flex-direction: row;
  }
  
  .label-day {
    margin-right: 112px;
  }
  
  .start-time {
    margin-right: 64px;
  }
  
  .extra-time {
    margin-left: 20px;
  }
  
  .business-day {
    padding: 8.4px 16.65px 8.53px 8px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.3px;
  }
  
  .business-day .to {
    margin-left: 7px;
    margin-right: 7px;
  }
  
  .days {
    color: #fff;
    background: #336799;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 83px;
  }
  
  .time-info-i {
    margin-bottom: 16px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #777;
    color: #fff;
    display: flex;
    justify-content: center;
  }
  
  .time-info {
    width: 20%;
    color: #777;
  }
  
  .time-select {
    border: 1px solid #eeeeee;
    border-radius: 4px;
    padding: 8px 12.9px 8px 9px;
    background: #fff;
    height: 32px;
  }
  
  .holiday {
    display: flex;
    justify-content: space-between;
  }
  
  .holiday-form {
    width: 40%;
  }
  
  .holiday-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .holiday-info {
    width: 19%;
    color: #777;
  }
  
  .holiday-info-i {
    margin-bottom: 16px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #777;
    color: #fff;
    display: flex;
    justify-content: center;
  }
  
  .holiday-form table {
    margin-bottom: 57px;
  }
  
  .holiday-form th {
    font-weight: bold;
    font-size: 12px;
    color: #777;
    text-align: left;
    padding: 8px;
  }
  
  .holiday-form td {
    text-align: left;
    padding: 8px;
  }
  
  .holiday-form tr {
    padding: 21px 14px;
  }
  
  .holiday-form p {
    color: #777;
    font-size: 8px;
  }
  
  .holiday-form tr:nth-child(even) {
    background: #f9f9f9;
  }
  
  /* End Business hours */
  