

@media (min-width: 1281px){
 
    .screen-padding{
      width: 1035px;
      height: 1000px;
    }
   

  #profilecallContainer{
    width: 1000px;
    margin-top: 25px;
  }
  #profilecalsubtext{
    padding: 0px 90px;
  }
  
    #screenDiv{
      margin-left: 317px;
    }
  
    #settingscreenDiv{
      margin-left: -60px;
      position: absolute;
      width: 83%;
    }
  
  
  
  #callviewHeader{
    font-size: 16px;
    text-decoration: none;
    color: black;
  }
  
  #callviewHeader:hover{
    font-size: 16px;
    text-decoration: none;
    color: #336799;
    font-weight: bold;
  }
  
  
    Button:hover{
      background-color: #FF6B00 !important;
    }
    
  #buttonText{
    color: white;
  }
  
  
    #input{
      padding-left: 25px;
    }
  
   
  
    .previous-header{
      width: 1020px;
  
    }
  
    #profCallHeader{
      font-size: 18px;
    }
  
    .callID{
      margin-top: 30px;
    }

    .callIDNew{
        margin-top: 16px;
      }

    

      .callID-history-New {
        display: flex;
        justify-content: space-between;
        
      }
      
      .callID-history-New > div {
        padding: 0px 0px 0px 10px;
      }
  
    .callID-history{
      margin-top: 20px;
    }
  
    .title-bar{
      margin-top: 20px;
      height: 50px;
    }
  
    #calltopbutton{
      margin-top: -15px;
    }

    #callIDtopbutton{
        margin-top: 2px;
        margin-right: -25px !important;
    }

      .graphHeader{
          margin-left: 70px;
          margin-top: -40px;
      }
  
      .graphHeader span{
          padding: 0px 10px;
          font-size: 12px;
      }
  
      .graphHeader h6{
      display:none
    }
  
      #dotting{
          color:#FF6B00;
          font-size: 60px;
      }
  
  
      .graph {
          position: absolute;
          right: 0px;
          left: 850px;
          margin-top: 40px;
        width: 991px;
        height: 660.92px;
          background-repeat: no-repeat;
          background-image: url(../../assets/img/graph.PNG);
        }
  
  
        .icon-home {
          position: absolute;
          right: 0px;
        left: 80px;
         width: 50px;
          height: 32px;
          background-repeat: no-repeat;
          background-image: url(../../assets/img/iconhome.PNG);
        }
  
  
        .icon-contact {
          position: absolute;
          right: 0px;
        left: 80px;
         width: 50px;
          height: 32px;
          background-repeat: no-repeat;
          background-image: url(../../assets/img/iconContact.PNG);
        }
  
        .icon-call {
          position: absolute;
          right: 0px;
        left: 80px;
         width: 50px;
          height: 32px;
          background-repeat: no-repeat;
          background-image: url(../../assets/img/iconCall.PNG);
        }
  
        .icon-personnel {
          position: absolute;
          right: 0px;
        left: 80px;
         width: 50px;
          height: 32px;
          background-repeat: no-repeat;
          background-image: url(../../assets/img/iconPersonnel.PNG);
        }
  
        .icon-analytics {
          position: absolute;
          right: 0px;
        left: 80px;
         width: 50px;
          height: 32px;
          background-repeat: no-repeat;
          background-image: url(../../assets/img/iconAnalytics.PNG);
        }
  
        .sidebar-text{
          margin-top: 25px;
          margin-left: 100px;
          font-size: 14px;
            font: Bold 12px/28px;
            color: #384364;
      }
  
      .sidebar-text:hover{
        margin-top: 25px;
        margin-left: 100px;
        font-size: 14px;
          font: Bold 14px/20px;
          color: #FF6B00;
    }
  
    #radioInput{
      margin-left: -30px;
      margin-top: -4px;
      position: absolute;
      width: 20px;
      height: 20px;
    }
  
  
    #sidebar-header{
      font-size: 20px;
    }
      .sidebar-title{
          color: #336799;
          text-align: center;
          margin-top: 85px;
          opacity: 1;
          font-size: 20px;
      }
  
      .agent-license{
          font-size: 14px;
          color: #777777;
          opacity: 1;
      }
  
      .Link{
          text-decoration: none;
          color: #336799;
          font-size: 14px;
      }
  
      .home-button {
          background: white;
          color: var(--text-white);
          padding: 10px 25px;
          transition: all 0.08s ease-in;
          margin-top: 13px;
          border-radius: 50px;
        }
  
        .home-button:hover {
          background-color:#FF6B00;
        }
  
        .bold{
            font-size: 11px;
            color: black;
        }
  
        .bold:hover{
          font-size: 11px;
          transition: all 0.05s ease-in;
          color: white;
      }
  
      .text-blue{
          color: #336799;
          font-size: 12px;
      }
  
      .text-blue:hover{
          color:#FF6B00;
          font-size: 12px;
      }
  
      .text-light{
          color: #777777;
  
      }
  
      #textHover{
          font-size: 16px;
      }
  
      #textHover:hover{
          color:#FF6B00;
      }
  
  
      ul li{
          padding: 4px 0px;
          
      }
  
      
  
      .text-main{
          font-size: 16px;
      }
  
        .horizontal-hr{
            margin-top: 100px;
        }
  
        /*Tab style*/
        .tab-list {
         /* border-bottom: 1px solid #ccc;*/
          padding-left: 0px;
          margin-left: -10px;
        }
        
        .tab-list-item {
          display: inline-block;
          list-style: none;
          margin-bottom: -1px;
          padding: 0.5rem 0.75rem;
          
        }
        
        .tab-list-active {
          background-color: white;
          /*border: solid #ccc;*/
          border:solid #336799;
          border-width: 0px 0px 3px 0px;
        }
        /*End tab style*/
  
  
  .thrash-pen{
    width: 15px;
    height: 15px;
  }
  
  .flag-icon{
    width: 38px;
    height: 50px;
    margin-left:15px;
  margin-top: -5px;
  }
  
  #ContactFlagDiv{
    background-color: #F9F9F9 !important;
    border: 1px #DDDDDD;
    position: absolute;
    margin-top: 25px;
    width: 90px;
    height: 38px;
  }
  
  #contactArrowDown{
   color: rgb(11, 148, 11);
    margin-left: 15px;
    margin-top: 14px;
    position: absolute;
  }
  
  #phoneInput{
    padding-left: 100px !important;
  }
       
        .table-body td{
          font-size: 14px;
        }
  
        #callTableHeader td{
          font-size: 14px;
          text-align: center;
  
        }
  
     
  
        .label {
          color: white;
          padding: 8px;
          font-family: Arial;
        }
        .fault {
          background-color: #EEEEEE;
          color:#333333;
          font-size: 12px;
          padding: 7px 15px;
          text-align: center;
  
        } 
  
        .missed {
          background-color: #FFE2E6;
          color:#333333;
          font-size: 12px;
          padding: 7px 15px;
          text-align: center;
  
        } 
  
        .voicenote {
          background-color: #FFF9C4;
          color:#333333;
          font-size: 12px;
          padding: 7px 15px;
          text-align: center;
        } 
  
  
        .answered {
          background-color: #DAF7E8;
          color:#0B6437;
          font-size: 12px;
          padding: 7px 15px;
          text-align: center;
        } 
  
        .dropped {
          background-color: #E8E7FF;
          color:#141A63;
          font-size: 12px;
          padding: 7px 15px;
          text-align: center;
        }
  
  
  
  
        .tableIcon {
          position: absolute;
          right: 0px;
        left: 380px;
        margin-top: -4px;
         width: 50px;
          height: 32px;
          background-repeat: no-repeat;
          background-image: url(../../assets/img/tableIcon.PNG);
        }
  
  
        /*Add Personnel and Department style Begin*/
            .addPersonnelContainer{
              width: 500px;
              float: right;
            }
  
            .departmentContainer{
              width: 500px;
              float: right;
            }
  
            .editDepartment{
              margin-top: 10px;
            }
  
  
            .formSpan{
              font-size: 14px;
              color: gray;
            }
  
            #addPersonnelForm{
              margin-left: -33px;
            }
  
            .addPersonnelButton{
              color: white;
            }
  
         /*Add Personnel and Department style End*/
      
  
         /*Settings Module Begining*/
         .MonthlySub{
           width: 89%;
           margin-left: 25px;
           margin-bottom: -90px;
           position: absolute;
         }
  
         .MonthlySub2{
          width: 95%;
          margin-left: 25px;
          margin-bottom: -90px;
        }
  
         .Title-tag{
           color: black;
           padding: 7px 0px;
         }
  
         .Title-tag2{
          color: black;
          font-size: 18px;
        }
  
         .planText1{
          font-size: 14px;
          margin-right: 75px;
        }
  
         .planText2{
           font-size: 14px;
           margin-right: 10px;
           color: black;
           font-weight: bold;
         }
  
         sup{
          color:darkgray;
           font-size: 16px;
         }
  
         sub{
          color:darkgray;
           font-size: 19px;
         }
  
         .planCoupon{
          color:darkgray;
            font-size: 23px;
            margin-top: 100px;
         }
  
         #planPrice{
           font-size: 35px;
          color:darkgray;
          font-weight: bold;
         }
         
         .planText3{
          font-size: 14px;
          margin-right: 100px;
        }
  
        .planText4{
          font-size: 14px;
          margin-right: 40px;
          color: black;
          font-weight: bold;
        }
  
         .price{
           font-size: 18px;
         }
  
         
  
         #zz{
           height: 390px;
           border-radius: 10px;
           width: 225px;
           background-color: rgba(197, 195, 195, 0.116) !important;
         }
  
         .plan-header{
           padding: 30px 5px;
         }
  
         #planDiv{
          background-color: rgba(197, 195, 195, 0.116) !important;
         }
  
         .planTag{
           font-size: 16px;
           padding: 0px 8px;
           margin-top: 50px !important;
         }
  
         .planInput{
           width:158px;
           height: 36px;
           margin-top: 25px;
           margin-left: 18px;
           border-top-left-radius: 12px;
           border-bottom-left-radius: 12px;
           border: 1px solid grey;
         }
  
         .planButton{
          border-top-right-radius: 12px;
          border-bottom-right-radius: 12px;
          margin-top: 25px;
          width: 65px;
          font-size: 14px;
          margin-right: 10px;
          background-color:#336799 !important;
          color: white;
          padding:9px 12px
         }
  #settingContainer{
    margin-top: 80px;
  }
         .profile_tab {
    display: inline-block;
    flex-direction: row;
    top: 0;
    margin-left: -300px;
    width: 30%;
    position: absolute;
    margin-top: 2000px;
    padding-left: 40px;
    background-color: #fff; 
    margin-top: 0px;
   
   /*  z-index: 101;
    box-shadow: 0px 3px 6px #00000014;
  
   */
  }
  .row-direction{
    padding: 12px 0px;
  }
  
  /* Profile Category Overlay */
  .existing-category-card {
    border: 1px solid #ddd;
    height: 10.3rem;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
  }
  
  
  .existing-category-card2{
    border: 1px solid #ddd;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    height: 10.3rem;
  }
  
  
  .existing-category-card2:hover{
    cursor: pointer;
    background-color: white;
    color: transparent;
  
  }
  
  #deptOver{
    position: fixed; /* Sit on top of the page content */
    top: 0;
    left: -20px;
    right: 0;
    bottom: 60px;
    cursor: pointer; /* Add a pointer on hover */
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  #deptOver1{
    margin-top: 522px;
    margin-left: 415px;
        background-color: white;
        width: 21.5%; /* Full width (cover the whole page) */
        height: 17%; /* Full height (cover the whole page) */
      }
  
      #deptOver2{
        margin-top: 665px;
        margin-left: 415px;
        background-color: white;
            width: 21.5%; /* Full width (cover the whole page) */
            height: 17%; /* Full height (cover the whole page) */
          }
      
  
        #pfcategory{
              position: fixed; /* Sit on top of the page content */
              top: 0;
              left: -20px;
              right: 0;
              bottom: 60px;
              cursor: pointer; /* Add a pointer on hover */
              border-bottom-right-radius: 8px;
              border-top-right-radius: 8px;
            }
  
            
           
  
            #pfcategoryDiv1{
              margin-top: 547px;
              margin-left: 415px;
                  background-color: white;
                  width: 21.5%; /* Full width (cover the whole page) */
                  height: 17%; /* Full height (cover the whole page) */
                }
                
                #pfcategoryDiv2{
                  margin-top: 690px !important;
                  margin-left: 415px;
                  background-color: white;
                  width: 21.5%; /* Full width (cover the whole page) */
                  height: 17%; /* Full height (cover the whole page) */
               }
  
               #pfcategoryDiv3{
                margin-top: 835px !important;
                margin-left: 415px;
                background-color: white;
                width: 21.5%; /* Full width (cover the whole page) */
                height: 17%; /* Full height (cover the whole page) */
             }
  
             #pfcategoryDiv4{
              margin-top: 977px !important;
              margin-left: 415px;
              background-color: white;
              width: 21.5%; /* Full width (cover the whole page) */
              height: 17%; /* Full height (cover the whole page) */
           }
                    
  /* End Profile Category Overlay */
  
  #as{
    background-color: red;
    position: absolute;
  }
  
  .row-direction .cursor{
      margin-top: 6px;
  }
  
  .time-info p{
    font-size: 14px;
  }
  
  .settingProfile span{
    padding: 0px 10px;
    font-size: 16px;
    color:gray;
  }
  
  .formLabel{
    font-size: 16px;
    padding: 18px 0px;
    color: #777777;
  }
  
  #profileFormInput{
    width: 350px;
    position: absolute;
    margin-left: 260px;
  }
  
  .br-8{
    color: #336799;
  }
  
  .br-30{
    color: white;
  }
  
  
  #xz:hover{
    background-color: white !important;
  }
  
  .profile_tablinks {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 40px 0px;
    line-height: 25px;
    display: block;
  }
  
  .tabText{
    font-size: 12px;
    float: left;
  }
          /*Settings Module End*/
  
          /*TermsOfUse Page Style Begining*/
            #FaqAndTermsDiv{
              position: fixed; /* Sit on top of the page content */
              width: 100%; /* Full width (cover the whole page) */
              height: 100%; /* Full height (cover the whole page) */
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background-color: rgba(0,0,0,0.5); /* Black background with opacity */
              z-index: 200; /* Specify a stack order in case you're using a different order for other elements */
              cursor: pointer; /* Add a pointer on hover */
            }
  
            #FaqAndTermsDiv2{
                  height:550px;
                   margin-left:350px;
                   width:620px;
                   margin-top: 42px;
                  position: absolute;
            }
          /*TermsOfUse Page Style End*/
  
          .label-style{
            background-color:#33C53433;
            border: 1px solid #33C53433;
            color: #0E640F;
            border-radius: 3px;
            padding:6px 16px;
          }
  
              /*Forgot Password Page Style Begining*/
              #Forgotpass{
                position: fixed; /* Sit on top of the page content */
                width: 100%; /* Full width (cover the whole page) */
                height: 100%; /* Full height (cover the whole page) */
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0,0,0,0.5); /* Black background with opacity */
                z-index: 200; /* Specify a stack order in case you're using a different order for other elements */
                cursor: pointer; /* Add a pointer on hover */
              }
    
              #Forgotpass2{
                    height:360px;
                     margin-left:470px;
                     width:390px;
                     margin-top: 162px;
                    position: absolute;
              }
  
              #EmailSentSuccess{
                height:370px;
                 margin-left:470px;
                 width:480px;
                 margin-top: 162px;
                position: absolute;
          }
  
          #resetPasswordDiv{
            height:370px;
             margin-left:470px;
             width:480px;
             margin-top: 162px;
            position: absolute;
      }
  
          .success-mark{
            width: 42px;
            height: 42px;
            margin-left: 20px;
          }
            /*Forgot Password Page Style End*/
  
  
             /*ProfileCategory Over Page Style Begining*/
            .Edit-icon {
              position: absolute;
              margin-top: 17px;
              width: 50px;
               height: 45px;
               margin-left: -7px;
               background-repeat: no-repeat;
              background-image: url(../../assets/img/editIcon.PNG);
            }
    
            .Delete-icon {
              position: absolute;
              margin-top: 17px;
              width: 50px;
               height: 45px;
               margin-left: 17px;
               background-repeat: no-repeat;
              background-image: url(../../assets/img/deleteIcon.PNG);
            }
  
            
          .profilecalltag{
            color: #336799;
            font-size: 13px;
            margin-top: 52px;
          }
  
          .profilecalltag2{
            color: grey;
            font-size: 13px;
            margin-top: 52px;
            margin-left: 20px;
          }
          /*ProfileCategory Over Page Style End*/
    }
  
    @media (min-width: 300px) and (max-width: 399px){
  
      #smallScreen{
        display: none;
      }
  
      .screen-padding{
        height: 1500px;
      }
  
      Button:hover{
        background-color: #FF6B00 !important;
      }
     
      .overview__action-button{
        height: 300px;
      }
  
      .graphHeader{
        margin-top: -87px;
        position: absolute;
        font-size: 12px;
        width: 100%;
        margin-left: -40px;
      }
  
      .graphHeader span{
          padding: 0px 12px;
      }
  
      #rowTwo{
        width: 708px;
        position: absolute;
  
      }
  
      #licence-info{
        width: 315px;
        height: 260px;
        position: absolute;
  
      }
  
      #average-time{
        height: 260px;
        margin-top: 300px;
        width: 315px;
  position: absolute;
      }
  
      #personnelDiv{
        margin-top: 600px;
        position: absolute;
        width: 315px;
  
  
      }
  
    
  
    .Hline{
      margin-top: 7px;
      margin-left: -56px;
    }
  
    #rowOne{
      margin-top: 40px;
    }
  
      .graph {
        position: absolute;
        right: 0px;
        left: 40px;
        margin-top: 115px;
      width: 291px;
      height: 660.92px;
        background-repeat: no-repeat;
        background-image: url(../../assets/img/graph.PNG);
      }
  
      .overview__action-view{
        width: 100%;
        margin-left: -9px;
      }
  
      .support{
        width: 2000px;
        margin-left: 23px;
        position: absolute;
      }
  
      .support-message{
        margin-top: -50px;
  
      }
  
      .formDiv{
        margin-top: 110px;
        position: absolute;
  
      }
  
      .light{
        text-align: center;
      }
  
      .support h1{
        text-align: center;
      }
  
      .message-board{
        margin-top: -20px;
        position: absolute;
        margin-left: 310px;
      }
  
      #kk{
        margin-top: 670px;
        position: absolute;
  
    }
      .benefits-image {
        position: absolute;
        background-image: url(../../assets/img/createacntIcon.png);
        height: 380px;
        width: 360.68px;
        margin-top: -210px;
        right: 750px;
        background-repeat: no-repeat;
      }
      
      #line{
        margin-top: 30px;
      }
      
      
    }
  
    /*Tab view*/
  @media (min-width: 481px) and (max-width: 767px){
    .support{
      width: 3100px;
      margin-left: 23px;
      position: absolute;
    }
  
    .support-message{
      margin-top: -50px;
  
    }
  
    .formDiv{
      margin-top: 110px;
      position: absolute;
      width: 500px;
      margin-left: 40px;
  
  
    }
  
    .light{
      text-align: center;
    }
  
    .support h1{
      text-align: center;
    }
  
    #hText{
      font-size: 18px;
      margin-left: 35px;
    }
  
    .message-board{
      margin-top: 50px;
      position: absolute;
      margin-left: 310px;
    }
  
    .benefits-card{
      width: 500px;
      margin-left: -280px;
  
    }
  
    #kk{
      margin-top: 670px;
      position: absolute;
      margin-left: 240px;
  
  }
    .benefits-image {
      position: absolute;
      background-image: url(../../assets/img/createacntIcon.png);
      height: 380px;
      width: 400.68px;
      margin-top: -225px;
      right: 970px;
      background-repeat: no-repeat;
    }
    
    #line{
      margin-top: 30px;
    }
    
  }
  
  /*Ipad Pro and Tab view*/
  @media (min-width: 768px) and (max-width: 1024px){
  
    .benefits-image {
      position: absolute;
      background-image: url(../../assets/img/createacntIcon.png);
      height: 380px;
      width: 400.68px;
      margin-top: -225px;
      background-repeat: no-repeat;
    }
    
    #line{
      margin-top: 30px;
    }
  }
    